*{
    
    text-align: center;
    background-color: rgb(52, 212, 188);
}

.spacer{
    padding: 12rem;
}

#container{
    margin: auto;
    display: flex;
    flex-direction: column;
}
#Date-Of-Birth{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 0.90rem;
    border-radius: 10 rem;
    cursor: pointer;
}
#Lucky-number{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 0.90rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
#check-button{
    width: 20%;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid rgb(60, 211, 22);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.90rem;
    background-color: black;
    color: antiquewhite;
}

label {
    font-weight: 500;
    font-size: larger;
    padding-top: 0.5rem;
  }
::placeholder{
    color: black;
}

label{
    padding: 10px;
}



